{% extends "content-base.html" %}

{% block opengraph_title %}{{ http_status.value }} {{ http_status.phrase }}{% endblock opengraph_title %}
{% block title %}{{ site_title }} | {{ http_status.value }} {{ http_status.phrase }}{% endblock title %}

{% block content %}
<div class="text-start">
    <div class="alert alert-danger">
        <h2>{{ http_status.value }} {{ http_status.phrase }}</h2>
        <p><em>{{ http_status.description }}</em></p>
        <p>
            <b>Encountered while handling:</b></br>
            {{ request.url }}</br>
            <b>Detail:</b></br>
            {{ exception.detail  }}</br>
            {% if debug %}
            <b>Stacktrace:</b></br>
            <code>{{ traceback_str }}</code>
            {% endif %}
        </p>
        <a href="javascript: history.go(-1)" class="alert-link">Go back</a>
    </div>
</div>
{% endblock content %}
