{% extends "content-base.html" %}

{% block opengraph_title %}Gallery{% endblock opengraph_title %}
{% block title %}{{ site_title }} | Gallery (Page {{ page_num }} of {{ page_max }}){% endblock title %}

{% block content %}
        {% block gallery_navigator %}
        <div class="btn-group mt-3" role="group">
            <a class="btn{% if page_num <= 1 %} disabled" aria-disabled="true{% endif %}"
                href="{{ url_for('page_get_gallery').include_query_params(page=page_num-1, page_size=page_size) }}">
                <div class="svg-container">{%- include 'svg/bi-arrow-left.svg' %}</div>
            </a>
            {%- set pagebar_page_item_limit = 3 -%}
            {%- set pagebar_page_item_bound = ((pagebar_page_item_limit - 1) // 2) -%}
            {%- if page_max <= pagebar_page_item_limit -%}
                {% for page in range(1, page_max + 1) %}
                <a href="{{ url_for('page_get_gallery').include_query_params(page=page, page_size=page_size) }}" class="btn btn-outlined{% if page == page_num %} active" aria-current="page{% endif %}">{{ page }}</a>
                {% endfor %}
            {% else %}
                {% if page_num <= pagebar_page_item_limit %}
                {% for page in range(1, pagebar_page_item_limit + 1) %}
                <a href="{{ url_for('page_get_gallery').include_query_params(page=page, page_size=page_size) }}" class="btn btn-outlined{% if page == page_num %} active" aria-current="page{% endif %}">{{ page }}</a>
                {% endfor %}
                <div class="btn">...</div>
                <a href="{{ url_for('page_get_gallery').include_query_params(page=page_max, page_size=page_size) }}" class="btn btn-outlined{% if page_max == page_num %} active" aria-current="page{% endif %}">{{ page_max }}</a>
                {% elif page_num >= page_max - pagebar_page_item_limit %}
                <a href="{{ url_for('page_get_gallery').include_query_params(page=1, page_size=page_size) }}" class="btn btn-outlined{% if 1 == page_num %} active" aria-current="page{% endif %}">{{ 1 }}</a>
                <div class="btn">...</div>
                {% for page in range(page_max - pagebar_page_item_limit + 1, page_max + 1) %}
                <a href="{{ url_for('page_get_gallery').include_query_params(page=page, page_size=page_size) }}" class="btn btn-outlined{% if page == page_num %} active" aria-current="page{% endif %}">{{ page }}</a>
                {% endfor %}
                {% else %}
                <div class="btn">...</div>
                {% for page in range(page_num - pagebar_page_item_bound, page_num + pagebar_page_item_bound + 1) %}
                <a href="{{ url_for('page_get_gallery').include_query_params(page=page, page_size=page_size) }}" class="btn btn-outlined{% if page == page_num %} active" aria-current="page{% endif %}">{{ page }}</a>
                {% endfor %}
                <div class="btn">...</div>
                {% endif %}
            {% endif %}
            <a class="btn{% if page_num == page_max %} disabled" aria-disabled="true{% endif %}"
                href="{{ url_for('page_get_gallery').include_query_params(page=page_num+1, page_size=page_size) }}">
                <div class="svg-container">{%- include 'svg/bi-arrow-right.svg' %}</div>
            </a>
        </div>
        {% endblock gallery_navigator %}
        <div class="align-items-center row justify-content-md-center">
            {% for image_id in image_ids %}
            <div class="mt-3 col col-auto">
                <a href="{{ url_for('page_get_image', image_id=image_id) }}">
                    <img id="image" class="rounded img-fluid" src="{{ url_for('api_get_image', image_id=image_id).include_query_params(width=current_width, square=True) }}" alt="Image {{ image_id }}" />
                </a>
            </div>
            {% endfor %}
        </div>
        {{ self.gallery_navigator() }}
{% endblock content %}
