{% extends "content-base.html" %}

{% block content %}
        <div id="image-page" class="align-items-center">
            <div class="card shadow rounded-4 overflow-hidden">
                <a href="{{ url_for('api_get_image', image_id=image_id) }}">
                    <img class="card-img-top" src="{{ url_for('api_get_image', image_id=image_id).include_query_params(width=resolution_data.current_width) }}" alt="Image {{ image_id }}" />
                </a>
                <div class="card-body btn-group" role="group">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {%- include 'svg/bi-download.svg' %} Download
                        </button>
                        <ul class="dropdown-menu">
                            {% for variant in resolution_data.variant_ladder -%}
                            <li>
                                <a class="dropdown-item" 
                                    href="{{ url_for('api_get_image', image_id=image_id).include_query_params(width=variant.width) }}" download="{{ variant.filename }}">
                                    {%- include 'svg/bi-download.svg' %} {{ variant.width }}x{{ variant.height }} {% if variant.current -%}(Cached){% endif -%}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a role="button" class="btn"
                        href="{{ url_for('page_get_image', image_id=image_id) }}">
                        {%- include 'svg/bi-link-45deg.svg' %} Permalink
                    </a>
                    <a id="clipboard-link" role="button" class="btn">
                        {%- include 'svg/bi-link-45deg.svg' %} Copy permalink
                    </a>
                    <a href="{{ url_for('page_redirect_rand_image') }}" role="button" class="btn">
                        {%- include 'svg/bi-dice-3.svg' %} Random
                    </a>
                </div>
                <div class="card-body">
                    <code>{{ image_id }}</code>
                </div>
            </div>
        </div>

        <script>
            window.addEventListener("load", (event) => {
                document.getElementById('clipboard-link').addEventListener("click", async (e) => {
                    try {
                        await navigator.clipboard.writeText('{{ url_for('page_get_image', image_id=image_id) }}');
                        e.srcElement.classList.remove("btn-secondary");
                        e.srcElement.classList.add("btn-success");
                        await new Promise(r => setTimeout(r, 1000));
                        e.srcElement.classList.remove("btn-success");
                        e.srcElement.classList.add("btn-secondary");
                    } catch (err) {
                        console.error('Failed to copy: ', err);
                    }
                });
            });
        </script>
{% endblock content %}
