{% extends "content-base.html" %}

{% block opengraph_title %}Submit an image{% endblock opengraph_title %}
{% block title %}{{ site_title }} | Submit an image{% endblock title %}

{% block content %}
<div class="text-start">
    <div class="alert alert-success">
        <h2>Success</h2>
        <p>Your image was received successfully. Thank you! You may go back to <a href="{{ url_for("page_redirect_rand_image") }}">{{ url_for("page_redirect_rand_image") }}</a> or <a href="{{ url_for("page_get_submit") }}">submit another image</a></p>
        <p>The ID of your submitted image is: <code>{{ submitted_image_id }}</code></p>
    </div>
</div>
{% endblock content %}
